:root {
  --main-color: #ff1000;
  --body-color: #15202b;
  --shadow-main: #ee1000;
}

* {
  box-sizing: border-box;
}

body {
  background-color: var(--body-color);
  height: 100%;
  width: 100%;
  margin: 0;
  text-align: center;
}

.navbar {
  position: absolute;
  height: 100px;
  width: 100%;
  background-color: var(--main-color);
}

.trademark {
  box-sizing: border-box;
  /* display: flex; */
  position: absolute;
  width: 30%;
  height: 100%;
  color: #e7ff19;
  vertical-align: middle;
}

#btn-div :hover {
  background-color: var(--shadow-main);
}

.filters-btn {
  background-color: var(--main-color);
  border: none;
  position: absolute;
  left: 0;
  top: 30px;
  height: 40px;
  margin-left: 25px;
  width: 40px;
  cursor: pointer;
  z-index: 500;
}
.filters-btn i {
  height: fit-content;
  color: #e7ff19;
}

.trademark h1 {
  align-self: flex-start;
  width: 100%;
  font-size: 60px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  padding: 0%;
  margin-top: 0;
  margin-bottom: 0;
}
.trademark p {
  align-self: flex-end;

  font-family: "Montserrat Alternates", sans-serif;
  font-weight: bold;
  margin-top: 0;
}
.container {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.search {
  width: 100%;
  height: 35px;
}

.search input {
  height: 35px;
  float: left;
  width: 90%;
  border-radius: 8px 0 0 8px;
  border: none;
  padding-left: 10px;
  background: #f1f1f1;
  outline: none;
}

.search button {
  float: left;
  width: 10%;
  height: 35px;
  border-radius: 0 8px 8px 0;
  border: none;
  cursor: pointer;
}
.fa-magnifying-glass {
  /* color: var(--main-color); */
  color: #ee1000;
}
.fa-magnifying-glass :hover {
  color: black;
}

.filters {
  margin-top: 100px;
  width: 22%;
  background-color: #f1f1f1;
  position: absolute;
  min-height: calc(100vh - 100px);
  /* box-sizing: border-box; */
}

.slide-container {
  background-color: #e7ff19;
  height: 10%;
  position: absolute;
  width: 100%;
}

.slide-container h1 {
  font-size: large;
  vertical-align: top;
  text-align: left;
  margin-left: 25px;
}

.slide {
  -webkit-appearance: none;
  width: 70%;
  height: 25px;
  outline: none;
  opacity: 0.8;
  background: #ee1000;
}

.slide ::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ee1000;
  height: 50px;
}
